* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f8f4f4;
  height: 100vh;
}

.header {
  width: 100%;
}

.icon {
  display: none;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

a {
  text-decoration-line: none;
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(207, 201, 201);
}

.icon img{
  width: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 16%;
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 13px;
}

.menu li {
  color: rgb(44, 44, 44);
}

.menu li:nth-child(2) {
  color: rgb(241, 233, 1);
}

.background_text {
  background-image: url(../img/Background-img.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top:21%;
}

.background_wrap {
  width: 70%;
  margin: 0 auto;
}

.text1 {
  font-size: 5rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

.text2 {
  font-size: 2.5rem;
  color: #f8f4f4;
}

.text3 {
  font-size: 2rem;
  color: #f8f4f4;
}

.text3 span {
  text-decoration: underline;
}

.button {
  font-size: 1.7rem;
  font-weight: 600;
  background:rgb(241, 233, 1);
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}

.profile.text1 {
  padding: 30px;
  color: black;
}

.profile {
  width: 100%;
}

.profile_wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.group{
  padding: 0;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 40px;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: 550px 550px;
  grid-template-areas:
  "A B C D"
  "E F G H " ;
}

.group li:nth-child(1) {
  grid-area: A;
}

.group li:nth-child(2) {
  grid-area: B;
}

.group li:nth-child(3) {
  grid-area: C;
}

.group li:nth-child(4) {
  grid-area: D;
}

.group li:nth-child(5) {
  grid-area: E;
}

.group li:nth-child(6) {
  grid-area: F;
}

.group li:nth-child(7) {
  grid-area: G;
}

.group li:nth-child(8) {
  grid-area: H;
}

.group li {
  background: gray;
  text-align: center;
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: 210px 70px 120px 60px; 
  padding-top: 40px;
}

.img {
  border-radius: 60%;
  height: 200px;
  width: 200px;
  border-radius: 150px;
  overflow: hidden;
  margin: 0 auto;
}

img {
  width: 100%;
}

.profile_button {
  width:120px;
  background:rgb(241, 233, 1);
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 10px;
} 


@media (max-width: 768px){
  .profile  {
    padding-top: 30px;
  }

  .text1 {
    font-size: 3rem;
  }
  .text2 {
    font-size: 1.5rem;
  }

  .background_text {
    padding-top: 200px;
  }

  .button  {
    width: 200px;
  }

  .group {
    display: block;
  }

  .group li {
    margin-bottom: 30px;
  }

  .icon {
    display: block;
    padding-top: 15px;
  }

  .menu {
    display: none;
  }

  .background_text {
    background-position: center;
  }

  .profile.text1{
    display: none;
  }
}



